// fonts
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

// colors
$color-warm-dark: #e17334;
$color-warm-light: #f9f4dc;
$color-cold-dark: #114e4e;
$color-cold-medium: #438792;
$color-cold-light: #a2deaf;

$primary-light: white;
$primary-dark: black;

$primary-medium: #54585a;

$palette-warms-dark :#420101;
$palette-warms-medium: #bd1010;
$palette-warms-light: #e95626;

$palette-neutrals-dark :#3e5b65;
$palette-neutrals-medium: #eab052;
$palette-neutrals-light: #a0c0cf;