// fonts
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

// colors
$color-warm-dark: #e17334;
$color-warm-light: #f9f4dc;
$color-cold-dark: #114e4e;
$color-cold-medium: #438792;
$color-cold-light: #a2deaf;
$primary-light: white;
$primary-dark: black;