.fieldset_two {
    display: flex;
    flex-direction: column;
    border-color: transparent;
    align-items: center;
    padding: 0 20px;
    font-family: $font-primary;
    min-width: 320px;


    &__legend {


        font-size: 18px;
        font-weight: bolder;
        padding-left: 17px;
        color: $primary-medium;
        padding-right: 130px;

        .leyend-icon {
            color: $color-warm-dark;

            &::after {
                margin-right: 5px;
                content: "";
            }
        }

        .arrow-up,
        .arrow-down {
            transform: translateX(108px);
        }
    }

    .icons {
        color: $primary-medium;
    }

    .form_complete {
        display: flex;
        flex-direction: column;
        max-width: 280px;
        padding: 0 20px;

        label {

            font-size: 14px;
            color: $color-cold-dark;
            padding-bottom: 7px;
            padding-top: 7px;
        }

        input {
            font-size: 12px;
            padding: 5px 10px;
            border: 1px solid $color-cold-light;

        }
    }

    .form_complete_button {
        display: flex;
        flex-direction: row;

        padding-bottom: 7px;
        padding-top: 7px;

        div {
            display: flex;
            flex-direction: row;
            justify-content: left;
            padding-top: 5px;

            input {
                transform: translateX(-100px);
                max-width: 80px;
                text-decoration: none;
                
            }
        }

        .button {
            font-family: $font-primary;
            font-size: 12px;
            color: $primary-light;
            background-color: $color-warm-dark;
            border: none;
            padding: 5px 17px;
            border-radius: 5px;

        }
    }

}

.hidden {
    display: none;
    visibility: hidden;
    height: 0;
}