.fieldset {
    min-width: 320px;
    border-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0px 20px;
    gap: 22px;

    font-family: $font-primary;
    color: $primary-medium ;



    &__legend {
        border-color: transparent;
        font-size: 18px;
        font-weight: 600;
        padding-right: 130px;

        .designIcon {
            color: $color-warm-dark;
            transform: scale(85%);

            &::after {
                margin-right: 5px;
                content: "";
            }
        }

        .iconUp {

            transform: translateX(108px);
        }

        .iconDown {
            transform: translateX(108px);
        }
    }

    &__design {
        font-size: 14px;
        border-color: transparent;
        display: flex;
        gap: 60px;
        // padding-right: 100px;

        &--palettes {

            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 20px;

            .palette-1,
            .palette-2,
            .palette-3 {
                display: flex;

                input {
                    transform: scale(120%);
                }

                div {
                    width: 30px;
                    height: 25px;
                    padding: 10px 0px 10px 0px;
                }

                &__colour1 {
                    margin-left: 5%;
                }
            }

            .palette-1 {
                &__colour1 {
                    background-color: $color-cold-dark;
                }

                &__colour2 {
                    background-color: $color-cold-medium;
                }

                &__colour3 {
                    background-color: $color-cold-light;
                }
            }

            .palette-2 {
                &__colour1 {
                    background-color: $palette-warms-dark;
                }

                &__colour2 {
                    background-color: $palette-warms-medium;
                }

                &__colour3 {
                    background-color: $palette-warms-light;
                }
            }

            .palette-3 {
                &__colour1 {
                    background-color: $palette-neutrals-dark;
                }

                &__colour2 {
                    background-color: $palette-neutrals-medium;
                }

                &__colour3 {
                    background-color: $palette-neutrals-light;
                }
            }
        }
    }
}

.collapsed {
    display: none;
}

.changereds {

    color: $palette-warms-dark;
    border-color: $palette-warms-light;
}

.changeblues {
    color: $color-cold-dark;
    border-color: $color-cold-light;
}

.changeneutrals {
    color: $palette-neutrals-dark;
    border-color: $palette-neutrals-light;
}