.sectionPhoto {
    background: linear-gradient(#bfcdd0, #dde9ed);
    width: 100%;

}

.photoContainer {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 40px 0;
    min-width: 240px;
   

    &__button {
        border: solid 1px white;
        border-radius: 15px;
        padding: 6px 12px;
        background-color: transparent;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 5px;
        margin-top: 10px;
        margin-bottom: 20px;
        &--icon {
            i {
                color: #54585a;
            }
        }

        &--reset {
            font-size: 12px;
            color: #54585a;
            font-family: $font-primary;
        }
    }

    &__card {
        min-width: 240px;
        max-width: 240px;
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: 10px 5px 5px rgb(0, 0, 0, 0.2);

        &--decoration {
            width: 5px;
            height: 42px;
            position: absolute;
            transform: translateY(17px);
            background-color: $color-cold-medium;
        }

        &--text {
            
            padding: 21px 14px 10px 20px;
            color: $color-cold-dark;
            min-height: 70px;

            & h2 {
            
                display: flex;
                text-wrap:balance;
                max-width: 240px;
                font-size: 18px;
                font-family: $font-secondary;

            }

            & span {
                display: flex;
                text-wrap:balance;
                color: $primary-medium;
                font-size: 16px;
                font-family: $font-secondary;
            }
        }


    }

    &__img {
        max-height: 200px;
        height: 200px;
        background-size: cover;
        background-image: url(/images/card-photo-example.jpg);
        margin-bottom: 5px;

    }

    &__icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 12px;



        &--phone {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            border: solid 1px $color-cold-light;
            border-radius: 50%;
            color: $color-cold-dark;
        }

        &--email {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            border: solid 1px $color-cold-light;
            border-radius: 50%;
            color: $color-cold-dark;
        }

        &--linkedin {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            border: solid 1px $color-cold-light;
            border-radius: 50%;
            color: $color-cold-dark;
        }

        &--github {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            border: solid 1px $color-cold-light;
            border-radius: 50%;
            color: $color-cold-dark;
        }
    }
}

.alignCardItems {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.anchorIcon {
    color: inherit;
}

.anchorIcon {
    color: inherit;
}