<fieldset class="fieldset_two">
  <div class="js-leyends">
    <legend class="fieldset_two__legend">
      <i class="fa-regular fa-keyboard leyend-icon"></i>
      RELLENA
      <i class="fa-solid fa-chevron-up icons arrow-up js-arrow-up collapsed"></i>
      <i class="fa-solid fa-chevron-down icons arrow-down js-arrow-down"></i>
    </legend>
  </div>
  <div class="form_complete js-collapsedArea collapsed">
    <label for="name">Nombre completo</label>
    <input class="js-name" type="text" id="name" placeholder="Ej:Sally Jill" />
    <label for="job">Puesto</label>
    <input class="js-job" type="text" id="job" placeholder="Ej: Front-end unicorn" />
    <label for="photo">Imagen de perfil</label>
    <div class="form_complete_button">
      <div>
        <label class="button" for="">Añadir imagen</label>
      </div>
      <div>
        <input class="js-photo js__profile-upload-btn" type="file" name="photo" id="photo" />
      </div>
      <div class="image-preview-div js__profile-preview"></div>
    </div>
    <label for="email">Email</label>
    <input class="js-email" type="email" id="email" placeholder="Ej:sally-hill@gmail.com" />
    <label for="tel">Teléfono</label>
    <input class="js-number" type="tel" id="phone" placeholder="Ej: 555-555-555" />
    <label for="linkedin">Linkedin</label>
    <input class="js-linkedin" type="text" id="linkedin" placeholder="Ej: linkendin.com/in/sally.hill" />
    <label for="git">GitHub</label>
    <input class="js-git" type="text" id="github" placeholder="Ej:@sally-hill" />
  </div>

  <div class="container">
    <span class="container__line"></span>
  </div>
</fieldset>