<fieldset class="fieldset_two">
    <legend class="fieldset_two__legend">Rellena</legend>
    <form action="">
       
      <label for="">Nombre completo</label>
      <input type="text">
      <label for="">Puesto</label>
      <input type="text">
   <div>
      <label for="">Imagen de perfil</label>
      <input type="checkbox">
      <button>Añadir imagen</button>
 </div>
      <label for="">Email</label>
      <input type="text">
      <label for="">Tel</label>
      <input type="text">
      <label for="">Linkedin</label>
      <input type="text">
      <label for="">GitHub</label>
      <input type="text">

    </form>

</fieldset>