<fieldset class="fieldset__three">
    <div class="fieldset__three--box">   
        <legend class="fieldset__three--legend"><i class="fa-solid fa-share-nodes fieldset__three--icon"></i>COMPARTE
            <i class="fa-solid fa-chevron-up fieldset__three--up js-up hiden"></i>
            <i class="fa-solid fa-chevron-down icon_down fieldset__three--down js-down"></i>
        </legend>
        
    </div>
    <div class="button__share hiden js-collapsedBotton">
        <button class="button__share--content js-button"><i class="fa-solid fa-address-card button__share--icon"></i>CREAR TARJETA</button>
    </div>
    <div class="container">
        <span class="container__line"></span>
    </div>
    <div class="profile hiden js-profile">
        <h2 class="profile__card">La tarjeta ha sido creada:</h2>
        <span class="profile__link">https://awesome-profile-card.com?id=A456DF0001</span>
        <button class="profile__twitter">
            <i class="fa-brands fa-twitter"></i>
            <span>Compartir en twitter</span>
        </button>
    </div>
    <script src="./js/share.js"></script>
</fieldset>