<fieldset class="fieldset_two">
    <legend class="fieldset_two__legend"> 
        <i class="fa-regular fa-keyboard"></i>
        RELLENA
        <i class="fa-solid fa-chevron-up icons"></i>
        <i class="fa-solid fa-chevron-down icons"></i></legend>
        <div class="form_complete">
             <label for="">Nombre completo</label>
             <input type="text" placeholder="Ej:Sally Jill">
             <label for="">Puesto</label>
             <input type="text" placeholder="Ej: Front-end unicorn">
            <div class="form_complete_button">
                 <label for="">Imagen de perfil</label>
                 <input type="checkbox">
                <button>Añadir imagen</button>
            </div>
             <label for="">Email</label>
             <input type="email" placeholder="Ej:sally-hill@gmail.com">
             <label for="">Teléfono</label>
             <input type="tel" placeholder="Ej: 555-555-555">
             <label for="">Linkedin</label>
             <input type="text" placeholder="Ej: linkendin.com/in/sally.hill">
             <label for="">GitHub</label>
             <input type="text" placeholder="Ej:@sally-hill">
        </div>

</fieldset>
