<fieldset class="fieldset">
    <fieldset class="fieldset__legend">
        <legend>
            <i class="fa-regular          fa-object-ungroup designIcon">
            </i>
            DISEÑA
            <i class="fa-solid fa-chevron-up iconUp js-iconUp collapsed">
            </i>
            <i class="fa-solid fa-chevron-down  iconDown js-iconDown">
            </i>
        </legend>
    </fieldset>
    <fieldset class="fieldset__design collapsed">
        <label for="">COLORES</label>

        <section class="fieldset__design--palettes">
            <div class="palette-1">

                <input type="radio" value="colours1" name="colourPalette" class="inputpal" checked>
                <div class="palette-1__colour1"></div>
                <div class="palette-1__colour2"></div>
                <div class="palette-1__colour3"></div>
            </div>

            <div class="palette-2">

                <input type="radio" value="colours2" name="colourPalette" class="inputpal">
                <div class="palette-2__colour1"></div>
                <div class="palette-2__colour2"></div>
                <div class="palette-2__colour3"></div>

            </div>

            <div class="palette-3">

                <input type="radio" value="colours3" name="colourPalette" class="inputpal">
                <div class="palette-3__colour1"></div>
                <div class="palette-3__colour2"></div>
                <div class="palette-3__colour3"></div>
            </div>

        </section>
    </fieldset>

    <script src="./js/mainDesign.js"></script>
</fieldset>