<fieldset class="fieldset1">
    <fieldset class="fieldset1__legend">
        <legend><i class="fa-regular fa-object-ungroup"></i> DISEÑA</legend>
    </fieldset>
    <fieldset class="fieldset1__design">
        <label for="">COLORES</label>

        <section class="fieldset1__design--palettes">
            <div class="palette-1">

                <input type="radio" value="paypal" name="paymentmethods">
                <div class="palette-1__colour1"></div>
                <div class="palette-1__colour2"></div>
                <div class="palette-1__colour3"></div>
            </div>

            <div class="palette-2">

                <input type="radio" value="paypal" name="paymentmethods">
                <div class="palette-2__colour1"></div>
                <div class="palette-2__colour2"></div>
                <div class="palette-2__colour3"></div>

            </div>

            <div class="palette-3">

                <input type="radio" value="paypal" name="paymentmethods">
                <div class="palette-3__colour1"></div>
                <div class="palette-3__colour2"></div>
                <div class="palette-3__colour3"></div>
            </div>

        </section>
    </fieldset>
</fieldset>