<section class="sectionPhoto">
  <div class="sectionPhotoContainer">
    <button class="sectionPhotoContainer__button">
      <div class="sectionPhotoContainer__button--icon">
        <i class="fa-regular fa-trash-can trashCan"></i>
      </div>
      <div class="sectionPhotoContainer__button--reset">RESET</div>
    </button>
    <div class="sectionPhotoContainer__card">
      <div class="sectionPhotoContainer__card--decoration"></div>
      <div class="sectionPhotoContainer__card--text">
        <h2>Nombre Apellido</h2>
        <span>Front-end developer</span>
      </div>
      <figure class="sectionPhotoContainer__img">
        <img
          src="/images/card-photo-example.jpg"
          alt="Esto es una imagen de la desarrolladora"
        />
      </figure>
      <div class="sectionPhotoContainer__icons">
        <div class="sectionPhotoContainer__icons--phone">
          <i class="fa-solid fa-mobile-screen-button"></i>
        </div>
        <div class="sectionPhotoContainer__icons--email">
          <i class="fa-regular fa-envelope"></i>
        </div>
        <div class="sectionPhotoContainer__icons--linkedin">
          <i class="fa-brands fa-linkedin-in"></i>
        </div>
        <div class="sectionPhotoContainer__icons--github">
          <i class="fa-brands fa-github-alt"></i>
        </div>
      </div>
    </div>
  </div>
</section>
