<section class="js-sectionPhoto sectionPhoto paletteOne">
  <div class="photoContainer">
    <div class="alignCardItems">
      <button class="photoContainer__button js-button-reset">
        <div class="photoContainer__button--icon">
          <i class="fa-regular fa-trash-can trashCan"></i>
        </div>
        <div class="photoContainer__button--reset">RESET</div>
      </button>
      <div class="photoContainer__card">
        <div class="photoContainer__card--decoration js-decorationCard"></div>
        <div class="photoContainer__card--text js-textCard">
          <h2 class="headerCard js-headerCard js-preview-NameCard">
            Nombre Apellido
          </h2>
          <span class="js-preview-JobCard">Front-end developer</span>
        </div>
        <figure class="photoContainer__img js__profile-image">
        
        </figure>
        <div class="photoContainer__icons">
          <div
            class="photoContainer__icons--phone js-containerIconCard imgIc1 js-icons"
          >
            <a href="" class="js-linkPhone anchorIcon">
              <i
                class="fa-solid fa-mobile-screen-button js-iconCard iconCard"
              ></i>
            </a>
          </div>
          <div
            class="photoContainer__icons--email js-containerIconCard imgIc2 js-icons"
          >
            <a href="" class="js-linkEmail anchorIcon">
              <i class="fa-regular fa-envelope js-iconCard iconCard"></i>
            </a>
          </div>
          <div
            class="photoContainer__icons--linkedin js-containerIconCard imgIc3 js-icons"
          >
            <a href="" class="js-linkLinkedIn anchorIcon">
              <i class="fa-brands fa-linkedin-in js-iconCard iconCard"></i>
            </a>
          </div>
          <div
            class="photoContainer__icons--github js-containerIconCard imgIc4 js-icons"
          >
            <a href="" class="js-linkGitHub anchorIcon">
              <i class="fa-brands fa-github-alt js-iconCard iconCard"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
