@import 'core/variables';
@import 'core/reset';
@import 'layout/header';
@import 'layout/section_image';
@import 'layout/form';
@import 'layout/footer';

@import 'layout/form_design';
@import 'layout/form_complete';
@import 'layout/form_share';

body {
    min-width: 320px;
    width: 100vw;
    height: 100vh;

    .js-leyends:hover {
        cursor: pointer;
    }

}

.container {
    display: flex;
    flex-direction: column;
    @media (min-width: 768px){
    display: flex;
    flex-direction: row-reverse;
    background: linear-gradient(#f5f5f5, $primary-light);
    }
}