@import 'core/variables';
@import 'core/reset';
@import 'layout/header';
@import 'layout/section_image';
@import 'layout/form';
@import 'layout/footer';

@import 'layout/form_design';
@import 'layout/form_complete';
@import 'layout/form_share';

/*:export {

    paletteWarmsDark: $palette-warms-dark;
    paletteWarmsMedium: $palette-warms-medium;
    paletteWarmsLight: $palette-warms-light;

    paletteNeutralsDark: $palette-neutrals-dark;
    paletteNeutralsMedium: $palette-neutrals-medium;
    paletteNeutralsLight: $palette-neutrals-light;

    paletteColdDark: $color-cold-dark;
    paletteColdMedium: $color-cold-medium;
    paletteColdLight: $color-cold-light;

}*/

body {
    min-width: 320px;
    width: 100vw;
    height: 100vh;


}