@import 'core/variables';
@import 'core/reset';
@import 'layout/header';
@import 'layout/section_image';
@import 'layout/form';
@import 'layout/footer';

body {
    min-width: 320px;
    width: 100vw;
    height: 100vh;

}

